**/*_files/
**/*_cache/
**/.quarto/
**/site_libs/
**/revealjs/

# Ignorar caches e arquivos de suporte
**/*_files/
**/*_cache/
**/.quarto/

# Ignorar arquivos de sistema
.Rhistory
.RData
.Rproj.user
/.quarto/
**/*.quarto_ipynb

!docs/**